/*.jumbotron {
	background-image: url("view-source:file:///Users/sashikers/Desktop/CODE/Hangman-Game/index.html");
}*/
/*
body {
	background-image: ;
}*/

/*body {
	background-image: url("beer.jpg");
	background-size: cover;
}*/

.jumbotron {
	background-image: url("SFbridge.jpg");
	background-position: left center;
	height: 300px;
}
.tagline {
	font-weight: bold;
}
h2 {
	text-align: center;
}

.guessedButton {
	text-align: center;
	margin: 5px;
	padding: 5px;
	width: 20px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: lightgray;
	font-weight: bold;
}

.allGuesses {
	margin: auto;
	text-align: center;
	width: 20%;
}

.letter-tile {
	text-align: center;
	margin: 5px;
	padding: 5px;
	width: 20px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: gray;
	font-weight: bold;
}